* {
  box-sizing: border-box;
}

body {
  background-color: red;
}
h1 {
  color: wheat;
  background-color: purple;
  padding: 7px;
  font-size: 25px;
  font-family: Arial;
}
h1::after {
  content: "\e900";
  font-family: "icons";
  color: yellow;
  font-size: 33px;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;
  min-height: 100px;
  background-color: rgb(255, 255, 255, 0.3);
}

header {
  background-color: #2d303a;
}

.slider {
  background-color: #f06c64;
}
.services {
  background-color: #f2f2f2;
}
.portofolio {
  background-color: #2d303a;
}
.about {
  background-color: #f2f2f2;
}
.contact {
  background-color: #f06c64;
}
footer {
  background-color: #2d303a;
}
