* {
  box-sizing: border-box;
}

body {
  background-color: red;
}
h1 {
  color: wheat;
  background-color: purple;
  padding: 7px;
  font-size: 25px;
  font-family: Arial;
}
h1::after {
  content: "\e900";
  font-family: "icons";
  color: yellow;
  font-size: 33px;
}
